doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div#header
      h1 EIDOLA RECORDS
      ul#navigation
        li ARTISTS
        li RELEASES
        li GIGS
        li MERCHANDISE
    div#main
      div#content
        block content
    div#sidebar
   