doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div#header
      h1 EIDOLA RECORDS
      ul#navigation
        li 
          a(href='/artists') ARTISTS
        li 
          a(href='/releases') RELEASES
        li
          a(href='/gigs') GIGS
        li
          a(href='/merchandise') MERCHANDISE
    div#main
      div#content
        block content
    div#sidebar
   include footer