extends layout

block content
  h2 New Release
  form(id="releaseform", class=".form-horizontal", name="input", action="/releases/_newrelease", method="post", enctype="multipart/form-data")
    label Title:
    input(type="text", name="title")
    label Artist:
    select(name="artist")
      -for (var id in artists)
        -var artist = artists[id]
          option(value="#{artist._id}") #{artist.name}
    label Description:
    textarea(name="description", rows="10", cols="2")
    label Cover:
    input(type="file", name="cover");
    label Tracks:
    div#files
      input(type="file", name="file_1")
    button(onClick="addFileInputToForm();return false;") +
    input(type="submit")
  