extends layout

block content
  #releases
    h2 #{item.title}
    div.release
      div.title #{item.Artist} 
      div.description
        div.textwrapper 
          p #{item.description}
        div.imgwrapper
          img(src='#{item.cover}')

 