extends layout

block content
  #releases
    h2 RELEASES
    table(class="table-striped table-hover")
      thead
        tr
          th Title
          th Artist
          th Control
      tbody
        -for (var id in items)
          -var item = items[id]
            tr
              td #{item.title}
              td #{item.artist}
              td 
                form(class=".form-horizontal", action="/releases/delete", method="post", enctype="multipart/form-data")
                  input(value="#{item._id}", type="hidden", name="id")                  
                  input(type="submit", class="btn btn-mini", value="Delete")
            