body {
  width: 960px;
  margin: 0 auto;
  font-family: "Droid Sans", sans-serif;
  color: #777;
}
form {
  width: 90%;
  margin: 0 auto;
}
form > input {
  width: 70%;
}
#header {
  height: 100px;
  width: 100%;
  margin-top: 1em;
}
#navigation > li {
  list-style-type: none;
  float: left;
  margin-right: 2em;
}
#sidebar {
  width: 300px;
  float: right;
  border-left: 1px solid #000;
  height: 100%;
}
#sidebar > .feature {
  height: 240px;
  background: #ffc0cb;
}
#sidebar > .feature width 200px {
  margin: 20px auto;
}
#sidebar > .feature > div {
  height: 198px;
  width: 198px;
  border: 1px solid #ffc0cb;
  overflow: hidden;
  margin: 0 auto;
}
#sidebar > .feature > div > img {
  width: 200px;
}
#sidebar > .feature > p {
  text-transform: uppercase;
  text-align: center;
  font-size: 0.7em;
  font-style: uppercase;
}
#content {
  border-left: 1px solid #000;
  margin-right: 310px;
  height: 100%;
}
#content > div {
  width: 90%;
  margin: 0 auto;
}
#releases {
  width: 90%;
  margin: 0 auto;
}
#releases > .release {
  position: relative;
  min-height: 275px;
}
#releases > .release > .title {
  margin-bottom: 15px;
}
#releases > .release > .description {
  min-height: 200px;
  width: 100%;
  background: #ffc0cb;
  margin-top: 2px;
}
#releases > .release > .description > .textwrapper {
  margin-left: 200px;
  min-height: 200px;
  overflow: hidden;
}
#releases > .release > .description > .imgwrapper {
  position: absolute;
  margin-top: -10px;
  margin-left: -10px;
  height: 200px;
  width: 200px;
  overflow: hidden;
}
#releases > .release > .description > .tracks {
  margin: 0 auto;
}
#releases .release ul {
  list-style-type: none;
  font-size: 0.8em;
  float: right;
}
.release ul > li {
  float: left;
  margin-left: 10px;
}
#preview {
  height: 200px;
  width: 200px;
  overflow: hidden;
}
#preview img {
  width: 200px;
}
